Package: gitsh
Version: 0.4.0-1
Architecture: i386
Maintainer: Fred Ollinger <follinge@unknown>
Installed-Size: 5
Depends: ruby2.0, ruby-bundler, ruby-blankslate
Section: shell
Priority: extra
Homepage: https://github.com/thoughtbot/gitsh
Description: Git shell.
 Shell for git.
